<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8' />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


<link href='https://fullcalendar.io/releases/fullcalendar/3.9.0/fullcalendar.min.css' rel='stylesheet' />
<link href='https://fullcalendar.io/releases/fullcalendar/3.9.0/fullcalendar.print.min.css' rel='stylesheet' media='print' />
<script src='https://fullcalendar.io/releases/fullcalendar/3.9.0/lib/moment.min.js'></script>

<script src='https://fullcalendar.io/releases/fullcalendar/3.9.0/fullcalendar.min.js'></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">





<script>
  $(document).ready(function() {
    /*default loading of data */
    var today = new Date();
    var eventsData ;
    var url = 'http://localhost:3000/getevents';

      $.ajax({ 
        type: 'GET',
        url: '/getevents',
        data : {
            'date': today
        },
        dataType: 'json'
      })
      .done(function( data ) {
        console.log( "Sample of data:", data );
        eventsData = data;
        console.log('JSON.Stringied Data of events : '+JSON.stringify(eventsData));
        $('#calendar').fullCalendar( 'removeEvents');
        $('#calendar').fullCalendar( 'addEventSource', eventsData);         
        $('#calendar').fullCalendar( 'rerenderEvents' );
      })
      .fail(function(jqXHR, textStatus, err){
          console.log('AJAX error response :',textStatus);
      }) 
   
    
    
    /*updating values on next click */
    $('body').on('click', 'button.fc-next-button', function() {
        var b = $('#calendar').fullCalendar('getDate');
      //  alert(b.format('L'));
        var date = b.format('L');
        console.log('date '+date);
        var url = '/getevents';
       
         $.ajax({ 
             type: 'GET',
             url: url,
             data : {
                 'date': date
             },
             dataType: 'json'
          })
          .done(function( data ) {
             console.log( "Sample of data:", data );
           //  eventsData = data;
             $('#calendar').fullCalendar( 'removeEvents');
                $('#calendar').fullCalendar( 'addEventSource', data);         
                $('#calendar').fullCalendar( 'rerenderEvents' );
          })
          .fail(function(jqXHR, textStatus, err){
              console.log('AJAX error response :',textStatus);
          })     
    });

    /*updating values on prev click */
    $('body').on('click', 'button.fc-prev-button', function() {
        var b = $('#calendar').fullCalendar('getDate');
      //  alert(b.format('L'));
        var date = b.format('L');
        console.log('date '+date);
        var url = '/getevents';
       
         $.ajax({ 
             type: 'GET',
             url: url,
             data : {
                 'date': date
             },
             dataType: 'json'
          })
          .done(function( data ) {
             console.log( "Sample of data:", data );
           //  eventsData = data;
             $('#calendar').fullCalendar( 'removeEvents');
                $('#calendar').fullCalendar( 'addEventSource', data);         
                $('#calendar').fullCalendar( 'rerenderEvents' );
          })
          .fail(function(jqXHR, textStatus, err){
              console.log('AJAX error response :',textStatus);
          })     
    });



    /*FullCalendar Implemetation */
    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next',
        center: 'title',
        right: ''
      },
      defaultDate: new Date(),
      navLinks: true, // can click day/week names to navigate views
      editable: true,
      showNonCurrentDates : false,
      eventLimit: false, // allow "more" link when too many events
      displayEventTime : false,
      allDay : true,
      nextDayThreshold: '090:00:00',

      eventClick: function(calEvent, jsEvent, view) {
        var dt = calEvent.start.format('YYYY-MM-DD');
        //alert(dt);
        var dateParts = dt.split('-');
        var selectedDate = dateParts[1]  + '/' + dateParts[2] + '/' + dateParts[0];
     //   alert(selectedDate);
        
       
        
        if(calEvent.title == 'Create Task')
        {
            console.log('calEvent.start '+calEvent.start);
            $('.datepic').val(selectedDate);
         
            $("#createTaskModal").modal("show");
        }
        else if(calEvent.title == 'Fill Actuals')
        {
          
             $('#dateIncurred').val(selectedDate);
             $("#fillActualsModal").modal("show");
        }
        else if(calEvent.title == 'Details')
        {
              $("#detailsModal").modal("show");
        }
      }
    });

  /*  $("#submitbutton").click(function() {
          alert('Hello Submit Button');

            document.getElementById('taskForm').submit(function(e){

              e.preventDefault();
              var values = $(this).serialize();
              console.log('values   '+values);
              $.ajax({
                  url: "/createtask",
                  type: "post",
                  data: values ,
                  success: function (res) {
                    alert('Form submitted successfully...')
                    console.log(res)
                  },
                  error: function(xhr, status, error) {
                    console.log(xhr.responseText);
                  }
              });
          })
    }); */

    /*Timesheet Form post method */
    $('#taskForm').submit(function(e){
      e.preventDefault();
      var values = $(this).serialize();
      console.log('values   '+values);
      $.ajax({
            url: "/createtask",
            type: "post",
            data: values ,
            success: function (res) {
                    alert('Task Saved Successfully');
                    $("#createTaskModal").modal("hide");
                    console.log(res)
            },
            error: function(xhr, status, error) {
                    console.log(xhr.responseText);
            }
        });
    })

    /*Timesheet Form post method */
    $('#fillActualsForm').submit(function(e){
      e.preventDefault();
      var values = $(this).serialize();
      console.log('values   '+values);
      $.ajax({
            url: "/fillactuals",
            type: "post",
            data: values ,
            success: function (res) {
                    alert('Timesheet Form submitted successfully...');
                    $("#fillActualsModal").modal("hide");
                    console.log(res)
            },
            error: function(xhr, status, error) {
                    console.log(xhr.responseText);
            }
        });
    })

  });
</script>

<script> 
  $(document).ready(function() { 
   
  }); 
 </script> 

 


</head>


<body>
    <div id='calendar'></div>  
    <div id="myAlert" class="alert alert-success alert-dismissible fade show">
        <strong>Note!</strong> This is a simple example of dismissible alert.
        <button type="button" class="close">&times;</button>
    </div>
    <!-- Create Task Modal -->
    <div id="createTaskModal" class="modal fade bs-example-modal-lg" tabindex ="-1" role="dialog" aria-labelledby="myLargeModalLabel" >
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="createTaskModal">Create Task</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form  id="taskForm" class="needs-validation" novalidate >

              <div class="form-group">  
                <div class="row">
                  <div class="col-md-6">
                    <label for="validationTooltip01">Task Name</label>
                    <input type="text" class="form-control" id="validationTooltip01" placeholder="Task Name"  name="taskname" required>
                  </div>
                 
                  <div class="col-md-6">
                   <label for="validationTooltipUsername">Status</label>
                   <select class="custom-select custom-select-sm form-control" name="status" >
                        <option selected>None</option>
                        <option value="Started">Started</option>
                        <option value="On Hold">On Hold</option>
                        <option value="Completed">Completed</option>
                   </select>
                  </div>
                </div>
              </div>
  
              <div class="form-group"> 
                <div class="row">
                <div class="col-md-6">
                  <label for="validationTooltip03">Project</label>
                  <select class="custom-select custom-select-sm form-control" name="projectname">
                    <% if(projectList.length != 0) { %>
                     <% projectList.forEach((eachProject) => { %>
                     <option value="<%= eachProject.sfid %>" ><%= eachProject.name %></option>
                     <% }) %>
                    <% } %>
                 </select>
                </div>
                <div class="col-md-6">
                  <label for="validationTooltip04">Task Date</label>
                  <input type="text" class="form-control datepic"   id="datePicker" required readonly name="taskdate">
                  
                </div>
              </div>
              </div>
              
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <label for="validationTooltip02">Assigned Resource</label>
                    <select class="custom-select custom-select-sm form-control" name="assignedresource">
                        <% if(contactList.length != 0) { %>
                         <% contactList.forEach((eachContact) => { %>
                         <option value="<%= eachContact.sfid %>" ><%= eachContact.name %></option>
                         <% }) %>
                        <% } %>
                     </select>
                  </div>
  
                  <div class="col-md-6">
                    <label for="validationTooltip02">Task Type</label>
                    <select class="custom-select custom-select-sm form-control" name="tasktype">
                      <option selected>A</option>
                      <option value="B">B</option>
                      <option value="C">C</option>
                      <option value="D">D</option>
                    </select>
                  </div>
                </div>  
              </div>
              
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <label for="validationTooltip02">Planned Start Time</label>
                    <input type="time" class="form-control" id="validationTooltip02" name="plannedstarttime"  required>
                  </div>
                  
                  <div class="col-md-6">
                    <label for="validationTooltip02">Planned End Time</label>
                    <input type="time" class="form-control" id="validationTooltip02" name="plannedendtime" required>
                  </div>
                </div>  
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" id="submitbutton" class="btn btn-primary">Save</button>
              </div>

            </form>
          </div>
          
        </div>
      </div>
    </div>



    <!-- Fill Actuals  Modal -->
    <div id="fillActualsModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="fillActualsModal">Fill Actuals</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="fillActualsForm" >
              <div class="form-group">  
                <div class="row">
                  <div class="col-md-6">
                    <label for="validationTooltip01">Project Name</label>
                    <select class="custom-select custom-select-sm form-control" name="projectName">
                      <% if(projectList.length != 0) { %>
                       <% projectList.forEach((eachProject) => { %>
                       <option value="<%= eachProject.sfid %>" ><%= eachProject.name %></option>
                       <% }) %>
                      <% } %>
                   </select>
                  </div>
                 
                  <div class="col-md-6">
                  <label for="validationTooltip04">Date Incurred</label>
                  <input type="text" class="form-control datepic" class="dateIncurred" id="dateIncurred" readonly name="dateIncurred" required>
                   
                  </div>
                </div>
              </div>
  
              <div class="form-group"> 
                <div class="row">
                <div class="col-md-6">
                  <label for="validationTooltip03">Task</label>
                  <select class="custom-select custom-select-sm form-control" name="selectedTask">
                    <% if(projectList.length != 0) { %>
                      <% taskList.forEach((eachTask) => { %>
                      <option value="<%= eachTask.sfid %>" ><%= eachTask.name %></option>
                      <% }) %>
                    <% } %>
                 </select>
                </div>
                <div class="col-md-6">
                  <label for="validationTooltipUsername">Status</label>
                   <select class="custom-select custom-select-sm form-control" name="statusTimesheet">
                        <option selected>None</option>
                        <option value="Started">Started</option>
                        <option value="On Hold">On Hold</option>
                        <option value="Completed">Completed</option>
                   </select>
                  
                </div>
              </div>
              </div>
  
  
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <label for="validationTooltip02">Planned Start Time</label>
                    <input type="time" class="form-control" id="validationTooltip02" placeholder="Last name" value="Otto" name="plannedStartTimeTimesheet" required>
                  </div>
                  
                  <div class="col-md-6">
                    <label for="validationTooltip02">Planned End Time</label>
                    <input type="time" class="form-control" id="validationTooltip02" placeholder="Last name" value="Otto" name="plannedEndTimeTimesheet" required>
                  </div>
                </div>  
              </div>
              
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                        <label for="validationTooltip02">Description</label>
                        <textarea rows="5" class="form-control" id="validationTooltip02" name="descriptionTimesheet" value=" " required >
                        </textarea>
                  </div>

                  <div class="col-md-6">
                      <label >Representative</label>
                      <select class="custom-select custom-select-sm form-control" name="representative">
                          <% if(contactList.length != 0) { %>
                           <% contactList.forEach((eachContact) => { %>
                           <option value="<%= eachContact.sfid %>" ><%= eachContact.name %></option>
                           <% }) %>
                          <% } %>
                       </select>
                  </div>
  
                 
                </div>  
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
  
            </form>
          </div>
          
        </div>
      </div>
    </div>



    <!-- Details  Modal -->
    <div id="detailsModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="detailsModal">Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


</body>

</html>